p {
	font-size: 30px;
	color: red;
}
.second {
	font-size: 50px;
	color: blue;
}
.third {
	font-size: 200px;
	color: orange;
}
.fourth {
	display: block;
}
.m5 {
	margin-bottom: 5px;
}
.m10 {
	margin-bottom: 10px;
}
.m15 {
	margin-bottom: 15px;
}
